{% extends "post/base.html" %}
{% block title %}
{% if post.url != "" %}
{{post.title}}
{% else %}
{{ post.text|truncatewords:30 }}
{% endif %}
{% endblock %}
{% load hnfilters %}
{% block content %}
<section class="detail">
    {% if post.parent_id == None %}
    <header>
        {% if user.is_authenticated and post.user_voted == None %}
        <a href="/vote?id={{ post.id }}">▲</a>
        {% endif %}
        {% if post.url != "" %}
        <h2><a href="{{post.url}}">{{post.title}}</a></h2>
        {% else %}
        <h2>{{post.title}}</h2>
        {% endif %}
        <div class="metadata">
            <span>{{post.votes}} point{{ post.votes | pluralize }} by </span>
            <span><a href="/user?id={{post.username}}">{{post.username}}</a></span>
            <span>{{post.created_at|timesince}} ago</span> |
            <span>
                {% if user.is_authenticated %}
                    {% if post.user_flagged == None %}
                    <a href="/flag?id={{ post.id }}">flag</a>
                    {% else %}
                    <a href="/flag?id={{ post.id }}&action=un">unflag</a>
                    {% endif %}
                    |
                {% endif %} 
            </span>
            <span>
                <a href="/item?id={{ post.id }}">
                    {% if comment_list %}
                    {{comment_list|length}} comment{{ comment_list|length|pluralize }}
                    {% else %}
                        discuss
                    {% endif %}
                </a>
            </span>
        </div>
    </header>
    {% if post.text != "" %}
    <article>{{post.text}}</article>
    {% endif %}
    {% else %}
    <header>
        <div>
            {% if user.is_authenticated and post.user_voted == None %}
            <a href="/vote?id={{ post.id }}">▲</a>
            {% endif %}
            <span><a href="/user?id={{post.username}}">{{post.username}}</a></span>
            <span>{{post.created_at|timesince}} ago</span> |
            <span><a href="/item?id={{post.parent_id}}">parent</a></span> |
            <span><a href="/item?id={{post.parent_id}}#{{post.id}}">context</a></span>
        </div>
    </header>
    <article>{{post.text}}</article>
    {% endif %}
</section>
{% if user.is_authenticated %}
<section class="detail-form">
    <form method="post" action="{% url 'comment' %}">
    {% csrf_token %}
    {{ form }}

    <input type="submit" value="comment">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
</section>
{% endif %}

{% if comment_list %}
<ul>
    {% for comment in comment_list %}
    <li id="com_{{comment.id}}" n="{{comment.n}}" style="{{comment.lev|indent}}" class="{{comment.html_classes}}">
        <header class="metadata">
            {% if user.is_authenticated and comment.user_voted == None and comment.username != user.username %}
            <a href="/vote?id={{ comment.id }}">▲</a>
            {% endif %}
            <span><a href="/user?id={{comment.username}}">{{comment.username}}</a></span>
            <span><a href="/item?id={{ comment.id }}">{{comment.created_at|timesince}} ago</a></span>
            <span>
                {% if user.is_authenticated and comment.username != user.username %}
                    {% if comment.user_flagged == None %}
                    <a href="/flag?id={{ comment.id }}">flag</a>
                    {% else %}
                    <a href="/flag?id={{ comment.id }}&action=un">unflag</a>
                    {% endif %}
                {% endif %} 
            </span>
            <span>
                <a class="tog" id="{{comment.id}}" href="javascript:void(0)">[-]</a>
            </span>
        </header>
        <article>{{comment.text}}</article>
        <footer><a href="/reply?id={{comment.id}}&goto={{post.id}}#{{comment.id}}">reply</a></footer>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}