<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="hn-like in go">
        <title>{{template "title" .}}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">Home</a>

                {{if .User}}
                <a href="/submit">Submit</a>
                <a href="/user?id={{.User.Username}}">{{.User.Username}}</a>
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                {{end}}
            </nav>
        </header>
        <main>
            {{template "body" .}}
        </main>
    </body>
</html>